NET "startSignal" LOC = P2 | IOSTANDARD = LVTTL;
NET "startLED" LOC = P1 | IOSTANDARD = LVTTL;
NET "tickingLED" LOC = P23 | IOSTANDARD = LVTTL;

NET "p1led" LOC = P50 | IOSTANDARD = LVTTL;
NET "p1left" LOC = P51 | IOSTANDARD = LVTTL;
NET "p1opp" LOC = P41 | IOSTANDARD = LVTTL;
NET "p1right" LOC = P35 | IOSTANDARD = LVTTL;

NET "p2led" LOC = P29 | IOSTANDARD = LVTTL;
NET "p2left" LOC = P33 | IOSTANDARD = LVTTL;
NET "p2opp" LOC = P30 | IOSTANDARD = LVTTL;
NET "p2right" LOC = P27 | IOSTANDARD = LVTTL;

NET "p3led" LOC = P7 | IOSTANDARD = LVTTL;
NET "p3left" LOC = P10 | IOSTANDARD = LVTTL;
NET "p3opp" LOC = P8 | IOSTANDARD = LVTTL;
NET "p3right" LOC = P6 | IOSTANDARD = LVTTL;

NET "p4led" LOC = P137 | IOSTANDARD = LVTTL;
NET "p4left" LOC = P142 | IOSTANDARD = LVTTL;
NET "p4opp" LOC = P140 | IOSTANDARD = LVTTL;
NET "p4right" LOC = P138 | IOSTANDARD = LVTTL;


NET "io_seg_p1<0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "io_seg_p1<1>" LOC = P57 | IOSTANDARD = LVTTL;
NET "io_seg_p1<2>" LOC = P67 | IOSTANDARD = LVTTL;
NET "io_seg_p1<3>" LOC = P66 | IOSTANDARD = LVTTL;
NET "io_seg_p1<4>" LOC = P75 | IOSTANDARD = LVTTL;
NET "io_seg_p1<5>" LOC = P74 | IOSTANDARD = LVTTL;
NET "io_seg_p1<6>" LOC = P78 | IOSTANDARD = LVTTL;

NET "io_sel_p1<0>" LOC = P80 | IOSTANDARD = LVTTL;
NET "io_sel_p1<1>" LOC = P81 | IOSTANDARD = LVTTL;

NET "io_seg_p2<0>" LOC = P85 | IOSTANDARD = LVTTL;
NET "io_seg_p2<1>" LOC = P84 | IOSTANDARD = LVTTL;
NET "io_seg_p2<2>" LOC = P88 | IOSTANDARD = LVTTL;
NET "io_seg_p2<3>" LOC = P87 | IOSTANDARD = LVTTL;
NET "io_seg_p2<4>" LOC = P93 | IOSTANDARD = LVTTL;
NET "io_seg_p2<5>" LOC = P92 | IOSTANDARD = LVTTL;
NET "io_seg_p2<6>" LOC = P94 | IOSTANDARD = LVTTL;

NET "io_sel_p2<0>" LOC = P97 | IOSTANDARD = LVTTL;
NET "io_sel_p2<1>" LOC = P98 | IOSTANDARD = LVTTL;

NET "io_seg_p3<0>" LOC = P105 | IOSTANDARD = LVTTL;
NET "io_seg_p3<1>" LOC = P104 | IOSTANDARD = LVTTL;
NET "io_seg_p3<2>" LOC = P112 | IOSTANDARD = LVTTL;
NET "io_seg_p3<3>" LOC = P111 | IOSTANDARD = LVTTL;
NET "io_seg_p3<4>" LOC = P115 | IOSTANDARD = LVTTL;
NET "io_seg_p3<5>" LOC = P114 | IOSTANDARD = LVTTL;
NET "io_seg_p3<6>" LOC = P116 | IOSTANDARD = LVTTL;

NET "io_sel_p3<0>" LOC = P118 | IOSTANDARD = LVTTL;
NET "io_sel_p3<1>" LOC = P119 | IOSTANDARD = LVTTL;

NET "io_seg_p4<0>" LOC = P22 | IOSTANDARD = LVTTL;
NET "io_seg_p4<1>" LOC = P21 | IOSTANDARD = LVTTL;
NET "io_seg_p4<2>" LOC = P17 | IOSTANDARD = LVTTL;
NET "io_seg_p4<3>" LOC = P16 | IOSTANDARD = LVTTL;
NET "io_seg_p4<4>" LOC = P15 | IOSTANDARD = LVTTL;
NET "io_seg_p4<5>" LOC = P14 | IOSTANDARD = LVTTL;
NET "io_seg_p4<6>" LOC = P11 | IOSTANDARD = LVTTL;

NET "io_sel_p4<0>" LOC = P143 | IOSTANDARD = LVTTL;
NET "io_sel_p4<1>" LOC = P144 | IOSTANDARD = LVTTL;
